In [14]:
## library imports

## file IO
import pandas as pd

## db connection
import config

## linear algebra
import numpy as np

In [15]:
## db engine

engine = config.get_engine(database='processingdev')

In [16]:
## read in scores
scores = pd.read_sql("SELECT * FROM ValidatedScores;",con=engine)

In [17]:
scores.dtypes

LinescoreID        int64
GameID             int64
EventID            int64
EventName         object
Draw              object
End1             float64
End2             float64
End3             float64
End4             float64
End5             float64
End6             float64
End7             float64
End8             float64
End9             float64
End10            float64
End11            float64
End12            float64
Hammer             int64
FinalScore         int64
Team              object
URL               object
TeamLink          object
DrawNum            int64
Year               int64
StartMonth        object
EndMonth          object
EventDayStart      int64
EventDayEnd        int64
TeamID             int64
dtype: object

In [18]:
scores.head()

,LinescoreID,GameID,EventID,EventName,Draw,End1,End2,End3,End4,End5,...,Team,URL,TeamLink,DrawNum,Year,StartMonth,EndMonth,EventDayStart,EventDayEnd,TeamID
0,1,1,3000,Swiss Curling League,1,0.0,0.0,1.0,0.0,1.0,...,Marc Suter,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66398#1,1,2013,Jan,Feb,11,3,66398
1,2,1,3000,Swiss Curling League,1,0.0,2.0,0.0,3.0,0.0,...,Peter de Cruz,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66391&...,1,2013,Jan,Feb,11,3,66391
2,3,2,3000,Swiss Curling League,1,2.0,0.0,0.0,0.0,0.0,...,Sven Michel,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66390&...,1,2013,Jan,Feb,11,3,66390
3,4,2,3000,Swiss Curling League,1,0.0,0.0,2.0,1.0,0.0,...,Alexander Attinger,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66400&...,1,2013,Jan,Feb,11,3,66400
4,5,3,3000,Swiss Curling League,1,1.0,0.0,3.0,0.0,1.0,...,St. Gallen Bar,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66392#1,1,2013,Jan,Feb,11,3,66392

In [19]:
## potential composite key: EventID, TeamID, DrawNum

scores.groupby(['EventID','TeamID','DrawNum'])['EventID'].count().sort_values(ascending=False)

EventID  TeamID  DrawNum
6856     151596  4          1
4162     94229   5          1
         94232   3          1
                 1          1
         94230   9          1
                 7          1
                 5          1
                 3          1
                 1          1
         94229   10         1
                 9          1
                 3          1
         94234   1          1
         94229   1          1
         94228   10         1
                 9          1
                 5          1
                 3          1
                 1          1
         94226   5          1
                 3          1
                 1          1
         94232   5          1
         94234   3          1
4165     94400   3          1
4162     94240   7          1
4163     94254   4          1
         94253   6          1
                 4          1
4162     94252   5          1
                           ..
5278     123501  1          1
         122102  5          1
                 4          1
                 3          1
                 1          1
         121957  5          1
         123504  4          1
                 5          1
         123505  1          1
                 2          1
         123509  4          1
                 3          1
                 2          1
         123508  8          1
                 5          1
                 4          1
                 2          1
                 1          1
         123507  4          1
                 3          1
                 2          1
                 1          1
         123506  4          1
                 3          1
                 2          1
                 1          1
         123505  8          1
                 5          1
                 4          1
3000     66390   1          1
Name: EventID, Length: 192918, dtype: int64