In [1]:
# library imports

# file IO, processing
import pandas as pd

# db con
from config import get_engine

# analysis
from analysis import get_win_pcts,get_scores

In [2]:
# db con params
database='dnorm'

# engine
engine = get_engine(database=database)

In [3]:
# get data

df = get_scores(classification='men 8 end')

In [4]:
# display

df.head()

,PivotedScoreID,GameID,EndNum,EndResult,Hammer,Score,TeamID,EventID,EventName,Year,EndMonth,EventDayEnd,Season,FinalScore,Team,EndSituation,OpponentTeamID,OpponentFinalScore,Win
0,751418,47846,1,-1,1,0,121243,5329,Red Deer Curling Classic,2018,11,19,2018-2019,6,Adam Norget,0,123213,4,1.0
1,751420,47846,2,3,1,0,121243,5329,Red Deer Curling Classic,2018,11,19,2018-2019,6,Adam Norget,-1,123213,4,1.0
2,751422,47846,3,-1,0,3,121243,5329,Red Deer Curling Classic,2018,11,19,2018-2019,6,Adam Norget,2,123213,4,1.0
3,751424,47846,4,0,1,3,121243,5329,Red Deer Curling Classic,2018,11,19,2018-2019,6,Adam Norget,1,123213,4,1.0
4,751426,47846,5,0,1,3,121243,5329,Red Deer Curling Classic,2018,11,19,2018-2019,6,Adam Norget,1,123213,4,1.0

In [5]:
cols = ['EndNum','EndSituation','Hammer']

In [10]:
df.loc[df.Team=='Brendan Bottcher'].drop_duplicates(subset=['GameID']).FinalScore.mean()

5.955357142857143

In [11]:
df.loc[df.Team=='Brendan Bottcher'].drop_duplicates(subset=['GameID']).OpponentFinalScore.mean()

3.8125

In [13]:
df.loc[df.Team=='Niklas Edin'].drop_duplicates(subset=['GameID']).FinalScore.mean()

5.628318584070796

In [12]:
df.loc[df.Team=='Niklas Edin'].drop_duplicates(subset=['GameID']).OpponentFinalScore.mean()

4.017699115044247

In [6]:
df.loc[df.Team=='Brendan Bottcher'].groupby(cols)['Win'].aggregate(['count','mean'])

                            count      mean
EndNum EndSituation Hammer
1       0           0          38  0.710526
                    1          74  0.783784
2      -3           1           4  0.750000
       -1           1          24  0.500000
        0           0           5  0.800000
                    1          19  0.789474
        1           0          25  0.760000
        2           0          22  0.863636
        3           0           8  1.000000
        4           0           5  1.000000
3      -3           1           2  0.500000
       -2           0           1  0.000000
                    1          10  0.200000
       -1           0           1  1.000000
                    1          11  0.818182
        0           0          11  0.454545
                    1          16  0.812500
        1           0          18  0.777778
                    1           7  1.000000
        2           0          12  0.833333
                    1           5  1.000000
        3           0          10  1.000000
                    1           1  1.000000
        4           0           2  1.000000
        5           0           2  1.000000
        6           0           1  1.000000
        7           0           1  1.000000
4      -6           1           1  0.000000
       -5           1           2  0.000000
       -4           1           1  0.000000
...                           ...       ...
6       5           0           1  1.000000
7      -4           1           1  0.000000
       -3           0           1  0.000000
                    1           2  0.000000
       -2           0           1  0.000000
                    1           6  0.333333
       -1           0           2  0.500000
                    1           4  1.000000
        0           0           8  0.375000
                    1           8  0.875000
        1           0          10  0.700000
                    1          10  1.000000
        2           0           6  1.000000
                    1           2  1.000000
        3           0           5  1.000000
        4           0           4  1.000000
        5           0           1  1.000000
8      -3           1           1  0.000000
       -2           0           1  0.000000
       -1           0           2  0.500000
                    1           2  1.000000
        0           0           3  0.000000
                    1           7  0.571429
        1           0          10  0.800000
                    1           7  1.000000
        2           0          10  1.000000
                    1           3  1.000000
        3           0           4  1.000000
9       0           0           1  1.000000
                    1           4  0.750000

[111 rows x 2 columns]

In [7]:
df.loc[df.Team=='Niklas Edin'].groupby(cols)['Win'].aggregate(['count','mean'])

                            count      mean
EndNum EndSituation Hammer
1       0           0          55  0.563636
                    1          58  0.775862
2      -4           1           1  0.000000
       -3           1           4  0.250000
       -2           1          10  0.400000
       -1           1          27  0.592593
        0           0           8  0.500000
                    1          10  0.700000
        1           0          34  0.794118
        2           0          10  0.800000
        3           0           4  1.000000
        4           0           3  1.000000
        6           0           1  1.000000
3      -3           0           1  0.000000
                    1           2  0.000000
       -2           0           2  0.000000
                    1           7  0.714286
       -1           0           3  0.333333
                    1          12  0.416667
        0           0          13  0.307692
                    1          13  0.923077
        1           0          21  0.714286
                    1           5  0.800000
        2           0          15  0.733333
        3           0           6  1.000000
        4           0           6  1.000000
        5           0           3  1.000000
        6           0           3  1.000000
4      -5           1           1  0.000000
       -4           1           1  0.000000
...                           ...       ...
6       6           1           1  1.000000
        7           0           1  1.000000
7      -3           1           2  0.000000
       -2           0           2  0.000000
                    1           5  0.000000
       -1           0           3  0.333333
                    1          10  0.400000
        0           0           3  0.666667
                    1           7  0.857143
        1           0           8  0.500000
                    1           9  1.000000
        2           0           8  0.750000
                    1           1  1.000000
        3           0           4  1.000000
                    1           2  1.000000
        4           0           6  1.000000
        5           0           1  1.000000
        7           0           1  1.000000
8      -3           1           1  0.000000
       -2           1           4  0.500000
       -1           0           1  0.000000
                    1           4  0.500000
        0           0           5  0.000000
                    1           5  0.800000
        1           0          10  0.600000
                    1           5  1.000000
        2           0           6  1.000000
        3           0           1  1.000000
9       0           0           2  0.500000
                    1           6  0.833333

[118 rows x 2 columns]