In [1]:
## library imports

from analysis import get_win_pcts,get_scores,get_win_pcts_matrix
import numpy as np
import matplotlib.pyplot as plt

## 10 End Women's

In [4]:
## without hammer

get_win_pcts_matrix(classification='Women 10 end',hammer=0)

EndSituation,-5,-4,-3,-2,-1,0,1,2,3,4,5
EndNum,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,0.398188,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,0.376494,0.555841,0.729412,0.833333,0.939394,1.000000
3,NaN,0.000000,0.000000,0.155556,0.250000,0.442953,0.588583,0.699422,0.843931,0.895349,0.960000
4,0.000000,0.100000,0.121212,0.111111,0.232877,0.410714,0.566986,0.752443,0.802817,0.878505,0.978261
5,0.000000,0.000000,0.068966,0.192000,0.233696,0.375394,0.583333,0.720779,0.860577,0.942623,0.960000
6,0.071429,0.047619,0.065574,0.136000,0.200000,0.421739,0.618012,0.733906,0.862944,0.895833,1.000000
7,0.023810,0.000000,0.055556,0.132353,0.267380,0.393805,0.546154,0.789238,0.861702,0.952000,0.987013
8,0.000000,0.000000,0.013158,0.117188,0.174863,0.425439,0.547511,0.773585,0.874251,0.961905,0.989011
9,0.000000,0.026316,0.027397,0.039216,0.181208,0.392670,0.593074,0.810976,0.903955,0.954128,1.000000
10,NaN,0.000000,0.000000,0.046154,0.162393,0.310881,0.600000,0.773109,0.906977,0.666667,1.000000
11,NaN,NaN,NaN,NaN,NaN,0.287582,NaN,NaN,NaN,NaN,NaN

In [5]:
## with hammer

get_win_pcts_matrix(classification='Women 10 end',hammer=1)

EndSituation,-5,-4,-3,-2,-1,0,1,2,3,4,5
EndNum,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,0.601812,NaN,NaN,NaN,NaN,NaN
2,0.000000,0.060606,0.166667,0.270588,0.444159,0.623506,NaN,NaN,NaN,NaN,NaN
3,0.040000,0.104651,0.156069,0.300578,0.411417,0.557047,0.750000,0.844444,1.000000,1.000000,NaN
4,0.021739,0.121495,0.197183,0.247557,0.433014,0.589286,0.767123,0.888889,0.878788,0.900000,1.000000
5,0.040000,0.057377,0.139423,0.279221,0.416667,0.624606,0.766304,0.808000,0.931034,1.000000,1.000000
6,0.000000,0.104167,0.137056,0.266094,0.381988,0.578261,0.800000,0.864000,0.934426,0.952381,0.928571
7,0.012987,0.048000,0.138298,0.210762,0.453846,0.606195,0.732620,0.867647,0.944444,1.000000,0.976190
8,0.010989,0.038095,0.125749,0.226415,0.452489,0.574561,0.825137,0.882812,0.986842,1.000000,1.000000
9,0.000000,0.045872,0.096045,0.189024,0.406926,0.607330,0.818792,0.960784,0.972603,0.973684,1.000000
10,0.000000,0.333333,0.093023,0.226891,0.400000,0.689119,0.837607,0.953846,1.000000,1.000000,NaN
11,NaN,NaN,NaN,NaN,NaN,0.712418,NaN,NaN,NaN,NaN,NaN

## 10 End Men's

In [6]:
## without hammer

get_win_pcts_matrix(classification='men 10 end',hammer=0)

EndSituation,-5,-4,-3,-2,-1,0,1,2,3,4,5
EndNum,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,0.380505,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,0.337600,0.534130,0.746647,0.880734,0.932203,1.000000
3,0.0,0.0,0.000000,0.082474,0.225352,0.363349,0.564409,0.746094,0.865079,0.909836,0.980000
4,0.0,0.0,0.096154,0.130769,0.212355,0.366397,0.573770,0.745491,0.866261,0.955056,0.976471
5,0.0,0.0,0.025641,0.128492,0.242215,0.338673,0.600815,0.769620,0.853333,0.926108,0.986111
6,0.0,0.0,0.061404,0.112360,0.180505,0.359375,0.582310,0.787879,0.888889,0.957547,0.973913
7,0.0,0.0,0.046512,0.081522,0.183521,0.328313,0.607345,0.759375,0.900415,0.963470,0.992806
8,0.0,0.0,0.000000,0.092308,0.177866,0.329154,0.607018,0.794326,0.923404,0.980645,0.992308
9,0.0,0.0,0.000000,0.040268,0.150485,0.352459,0.637324,0.837500,0.936893,0.982249,0.977273
10,NaN,NaN,0.200000,0.042254,0.096257,0.257919,0.537255,0.860465,0.900000,0.666667,NaN
11,NaN,NaN,NaN,NaN,NaN,0.253886,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN

In [7]:
## with hammer

get_win_pcts_matrix(classification='men 10 end',hammer=1)

EndSituation,-5,-4,-3,-2,-1,0,1,2,3,4,5
EndNum,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,0.619495,NaN,NaN,NaN,NaN,NaN
2,0.000000,0.067797,0.119266,0.253353,0.465870,0.662400,NaN,NaN,NaN,NaN,NaN
3,0.020000,0.090164,0.134921,0.253906,0.435591,0.636651,0.774648,0.917526,1.000000,1.0,1.0
4,0.023529,0.044944,0.133739,0.254509,0.426230,0.633603,0.787645,0.869231,0.903846,1.0,1.0
5,0.013889,0.073892,0.146667,0.230380,0.399185,0.661327,0.757785,0.871508,0.974359,1.0,1.0
6,0.026087,0.042453,0.111111,0.212121,0.417690,0.640625,0.819495,0.887640,0.938596,1.0,1.0
7,0.007194,0.036530,0.099585,0.240625,0.392655,0.671687,0.816479,0.918478,0.953488,1.0,1.0
8,0.007692,0.019355,0.076596,0.205674,0.392982,0.670846,0.822134,0.907692,1.000000,1.0,1.0
9,0.022727,0.017751,0.063107,0.162500,0.362676,0.647541,0.849515,0.959732,1.000000,1.0,1.0
10,NaN,0.333333,0.100000,0.139535,0.462745,0.742081,0.903743,0.957746,0.800000,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,0.746114,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN

## 8 End Women's

In [ ]:
## without hammer
get_win_pcts_matrix(classification='Women 8 end',hammer=0)

In [8]:
## with hammer

get_win_pcts_matrix(classification='Women 10 end',hammer=1)

EndSituation,-5,-4,-3,-2,-1,0,1,2,3,4,5
EndNum,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,0.590550,NaN,NaN,NaN,NaN,NaN
2,0.071429,0.109375,0.107438,0.258577,0.428706,0.572603,NaN,NaN,NaN,NaN,NaN
3,0.050000,0.092369,0.167015,0.249177,0.394992,0.603372,0.769663,0.859155,0.860465,0.928571,1.000000
4,0.031579,0.073171,0.133588,0.229508,0.416907,0.624352,0.749533,0.812500,0.913793,0.982143,1.000000
5,0.009174,0.064935,0.117647,0.235784,0.398970,0.633676,0.779626,0.876582,0.944444,0.967391,0.974359
6,0.025641,0.042667,0.092555,0.221154,0.385066,0.630934,0.798768,0.893082,0.970297,0.982759,1.000000
7,0.000000,0.018927,0.080338,0.161111,0.329431,0.652406,0.829384,0.921384,0.964824,1.000000,1.000000
8,NaN,0.000000,0.125984,0.191223,0.426357,0.749077,0.836634,0.962733,1.000000,1.000000,1.000000
9,NaN,NaN,NaN,0.000000,NaN,0.700980,1.000000,1.000000,1.000000,NaN,NaN
10,NaN,NaN,NaN,NaN,0.000000,1.000000,NaN,1.000000,NaN,NaN,NaN

## 8 End Men's

In [11]:
## without hammer

dfs[(3,0)]

EndSituation,-5,-4,-3,-2,-1,0,1,2,3,4,5
EndNum,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,0.402639,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,0.395268,0.587651,0.746407,0.849921,0.953757,0.977273
3,0.166667,0.000000,0.058824,0.129707,0.218159,0.387998,0.564034,0.753653,0.854839,0.938889,0.987179
4,0.000000,0.000000,0.041176,0.115486,0.220275,0.377227,0.607652,0.765211,0.869467,0.958647,0.988889
5,0.025000,0.000000,0.030888,0.083333,0.191195,0.350090,0.586869,0.801237,0.904701,0.947177,0.991354
6,0.000000,0.023256,0.035461,0.079832,0.145805,0.376147,0.576994,0.812903,0.920107,0.979452,0.990654
7,0.000000,0.000000,0.007634,0.059633,0.139357,0.339600,0.615548,0.849298,0.950321,0.980000,1.000000
8,NaN,0.000000,0.000000,0.037559,0.118613,0.242380,0.600742,0.805405,0.932099,1.000000,1.000000
9,NaN,0.000000,NaN,0.000000,NaN,0.212272,NaN,NaN,NaN,NaN,NaN

In [10]:
## with hammer

dfs[(3,1)]

EndSituation,-5,-4,-3,-2,-1,0,1,2,3,4,5
EndNum,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,0.597361,NaN,NaN,NaN,NaN,NaN
2,0.022727,0.046243,0.150079,0.253593,0.412349,0.604732,NaN,NaN,NaN,NaN,NaN
3,0.012821,0.061111,0.145161,0.246347,0.435966,0.612002,0.781841,0.870293,0.941176,1.000000,0.833333
4,0.011111,0.041353,0.130533,0.234789,0.392348,0.622773,0.779725,0.884514,0.958824,1.000000,1.000000
5,0.008646,0.052823,0.095299,0.198763,0.413131,0.649910,0.808805,0.916667,0.969112,1.000000,0.975000
6,0.009346,0.020548,0.079893,0.187097,0.423006,0.623853,0.854195,0.920168,0.964539,0.976744,1.000000
7,0.000000,0.020000,0.049679,0.150702,0.384452,0.660400,0.860643,0.940367,0.992366,1.000000,1.000000
8,0.000000,0.000000,0.067901,0.194595,0.399258,0.757620,0.881387,0.962441,1.000000,1.000000,NaN
9,NaN,NaN,NaN,NaN,NaN,0.787728,NaN,1.000000,NaN,1.000000,NaN