In [1]:
## library imports

## scraping module
import scraping

## warnings
import warnings
warnings.filterwarnings('ignore')

## IO
import pandas as pd

In [2]:
## parameters

verify = False

## Linescores

In [3]:
## scraping
url = "https://curlingzone.com/event.php?eventid=6855&view=Scores&showdrawid=6#1"
df = scraping.scrape_all_games(url=url)
df

,Team,FinalScore,Hammer,End1,End10,End11,End2,End3,End4,End5,End6,End7,End8,End9,TeamLink,GameID,Draw,EventDates,EventID,EventName
0,Alberta (Bottcher),6,True,2,0,1,0,0,0,1,0,0,1,1,event.php?view=Team&eventid=6855&teamid=151550...,1,Draw: 6,"Mar 5 - 14, 2021",6855,Tim Hortons Brier
1,New Brunswick (Grattan),5,False,0,2,0,1,0,0,0,1,1,0,0,event.php?view=Team&eventid=6855&teamid=151554...,1,Draw: 6,"Mar 5 - 14, 2021",6855,Tim Hortons Brier
2,Northern Ontario (Jacobs),7,False,0,X,NaN,0,1,1,0,2,0,2,1,event.php?view=Team&eventid=6855&teamid=151564...,2,Draw: 6,"Mar 5 - 14, 2021",6855,Tim Hortons Brier
3,Northwest Territories (Skauge),5,True,1,X,NaN,1,0,0,2,0,1,0,0,event.php?view=Team&eventid=6855&teamid=151565#1,2,Draw: 6,"Mar 5 - 14, 2021",6855,Tim Hortons Brier
4,Wildcard (McEwen),10,True,2,1,NaN,0,2,1,0,2,0,2,0,event.php?view=Team&eventid=6855&teamid=151572...,3,Draw: 6,"Mar 5 - 14, 2021",6855,Tim Hortons Brier
5,British Columbia (Laycock),7,False,0,0,NaN,3,0,0,1,0,1,0,2,event.php?view=Team&eventid=6855&teamid=151551...,3,Draw: 6,"Mar 5 - 14, 2021",6855,Tim Hortons Brier
6,Wildcard (Howard),12,True,3,,NaN,0,2,1,0,4,2,0,X,event.php?view=Team&eventid=6855&teamid=151574...,4,Draw: 6,"Mar 5 - 14, 2021",6855,Tim Hortons Brier
7,Yukon (Mikkelsen),2,False,0,,NaN,0,0,0,1,0,0,1,X,event.php?view=Team&eventid=6855&teamid=151575#1,4,Draw: 6,"Mar 5 - 14, 2021",6855,Tim Hortons Brier

## Teams

In [4]:
## scraping
url = "https://www.curlingzone.com/teams.php?ey=2021&et=81"
team_df = scraping.scrape_all_teams(url=url)
team_df

,TeamLink,TeamClub,Position,Player,TeamID
0,team.php?teamid=148039&profileid=28143,"Toronto, ON",S:,Rob Ainsley,33
1,team.php?teamid=148039&profileid=28143,"Toronto, ON",3:,Dave Ellis,33
2,team.php?teamid=148039&profileid=28143,"Toronto, ON",2:,Graeme Robson,33
3,team.php?teamid=148039&profileid=28143,"Toronto, ON",1:,Darren Karn,33
4,team.php?teamid=148039&profileid=28143,"Toronto, ON",A:,,33
5,team.php?teamid=148994,"Edmonton, AB",S:,Ted Appelman,118
6,team.php?teamid=148994,"Edmonton, AB",3:,Nathan Connolly,118
7,team.php?teamid=148994,"Edmonton, AB",2:,Tom Appelman,118
8,team.php?teamid=148994,"Edmonton, AB",1:,Kevin Tym,118
9,team.php?teamid=148994,"Edmonton, AB",A:,,118
10,team.php?teamid=148603,"Bern, SUI",S:,Christian Bangerter,60
11,team.php?teamid=148603,"Bern, SUI",3:,Kim-Lloyd Sciboz,60
12,team.php?teamid=148603,"Bern, SUI",2:,Daniel Inversini,60
13,team.php?teamid=148603,"Bern, SUI",1:,Michael Devaux,60
14,team.php?teamid=148603,"Bern, SUI",A:,,60
15,team.php?teamid=149579,"St. Gallen, SUI",S:,Jannis Bannwart,229
16,team.php?teamid=149579,"St. Gallen, SUI",3:,Fabio Da Ros,229
17,team.php?teamid=149579,"St. Gallen, SUI",2:,Niels Heilmann,229
18,team.php?teamid=149579,"St. Gallen, SUI",1:,Curdin Berther,229
19,team.php?teamid=149579,"St. Gallen, SUI",A:,,229
20,team.php?teamid=148816,"Montreal, QC",S:,Alek Bedard,18
21,team.php?teamid=148816,"Montreal, QC",3:,Louis Quevillon,18
22,team.php?teamid=148816,"Montreal, QC",2:,Emile Asselin,18
23,team.php?teamid=148816,"Montreal, QC",1:,Bradley Lequin,18
24,team.php?teamid=148816,"Montreal, QC",A:,Daniel Bedard,18
25,team.php?teamid=148803,"Montreal, QC",S:,Alek Bedard,174
26,team.php?teamid=148803,"Montreal, QC",3:,Louis Quevillon,174
27,team.php?teamid=148803,"Montreal, QC",2:,Emile Asselin,174
28,team.php?teamid=148803,"Montreal, QC",1:,Bradley Lequin,174
29,team.php?teamid=148803,"Montreal, QC",A:,Daniel Bedard,174
...,...,...,...,...,...
1175,team.php?teamid=148049,"Montreal , QC",S:,Zackary Wise,163
1176,team.php?teamid=148049,"Montreal , QC",3:,Michael Solomon,163
1177,team.php?teamid=148049,"Montreal , QC",2:,Robert Derry,163
1178,team.php?teamid=148049,"Montreal , QC",1:,Tyler Lachance,163
1179,team.php?teamid=148049,"Montreal , QC",A:,David Bergeron,163
1180,team.php?teamid=147863,"Lagos, NGR",S:,Harold Woods,214
1181,team.php?teamid=147863,"Lagos, NGR",3:,Tijani Cole,214
1182,team.php?teamid=147863,"Lagos, NGR",2:,Chris Neimeth,214
1183,team.php?teamid=147863,"Lagos, NGR",1:,Fabian Contreras-Cole,214
1184,team.php?teamid=147863,"Lagos, NGR",A:,Robert Brianne,214
1185,team.php?teamid=149728,"Sundbyberg, SWE",S:,Mats Wrana,216
1186,team.php?teamid=149728,"Sundbyberg, SWE",3:,Mikael Hasselborg,216
1187,team.php?teamid=149728,"Sundbyberg, SWE",2:,Anders Eriksson,216
1188,team.php?teamid=149728,"Sundbyberg, SWE",1:,Gerry Wahlin,216
1189,team.php?teamid=149728,"Sundbyberg, SWE",A:,,216
1190,team.php?teamid=147799,"Karuizawa, JPN",S:,Tsuyoshi Yamaguchi,162
1191,team.php?teamid=147799,"Karuizawa, JPN",3:,Riku Yanagisawa,162
1192,team.php?teamid=147799,"Karuizawa, JPN",2:,Satoshi Koizumi,162
1193,team.php?teamid=147799,"Karuizawa, JPN",1:,Fukuhiro Ohno,162
1194,team.php?teamid=147799,"Karuizawa, JPN",A:,Taisei Kanai,162
1195,team.php?teamid=148163,"Altona, MB",S:,Mackenzie Zacharias,34
1196,team.php?teamid=148163,"Altona, MB",3:,Karlee Burgess,34
1197,team.php?teamid=148163,"Altona, MB",2:,Emily Zacharias,34
1198,team.php?teamid=148163,"Altona, MB",1:,Lauren Lenentine,34
1199,team.php?teamid=148163,"Altona, MB",A:,,34
1200,team.php?teamid=147788,"Beijing, CHN",S:,Qiang Zou,109
1201,team.php?teamid=147788,"Beijing, CHN",3:,Jiafeng Tian,109
1202,team.php?teamid=147788,"Beijing, CHN",2:,Zhi Yu Wang,109
1203,team.php?teamid=147788,"Beijing, CHN",1:,Jingtao Xu,109
1204,team.php?teamid=147788,"Beijing, CHN",A:,,109