In [2]:
## db con
from config import get_engine

## file IO
import pandas as pd

In [4]:
## db engine
engine = get_engine(database='Scores')

In [5]:
## scores
df = pd.read_sql("SELECT * FROM Scores;",con=engine)

In [6]:
df.head()

,LinescoreID,GameID,EventID,TeamID,EventName,Draw,End1,End2,End3,End4,...,FinalScore,Team,URL,TeamLink,DrawNum,Year,StartMonth,EndMonth,EventDayStart,EventDayEnd
0,2,89705,3000,66390,Swiss Curling League,1,2.0,0.0,0.0,0.0,...,7,Sven Michel,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66390&...,1,2013,Jan,Feb,11,3
1,3,2300,3000,66390,Swiss Curling League,4,3.0,0.0,0.0,1.0,...,7,Sven Michel,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66390&...,4,2013,Jan,Feb,11,3
2,4,55056,3000,66390,Swiss Curling League,6,0.0,3.0,0.0,3.0,...,7,Sven Michel,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66390&...,6,2013,Jan,Feb,11,3
3,5,11348,3000,66390,Swiss Curling League,8,3.0,0.0,0.0,2.0,...,8,Sven Michel,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66390&...,8,2013,Jan,Feb,11,3
4,6,95751,3000,66390,Swiss Curling League,9,0.0,3.0,0.0,2.0,...,7,Sven Michel,https://www.curlingzone.com/event.php?eventid=...,event.php?view=Team&eventid=3000&teamid=66390&...,9,2013,Jan,Feb,11,3

In [9]:
df.loc[df.GameID == 1]

Empty DataFrame
Columns: [LinescoreID, GameID, EventID, TeamID, EventName, Draw, End1, End2, End3, End4, End5, End6, End7, End8, End9, End10, End11, End12, Hammer, FinalScore, Team, URL, TeamLink, DrawNum, Year, StartMonth, EndMonth, EventDayStart, EventDayEnd]
Index: []

[0 rows x 29 columns]