In [1]:
## library imports

## db con
from config import get_engine

## data manipulation 
import pandas as pd

## linear algebra 
import numpy as np

In [2]:
## con
engine = get_engine('dnorm')

In [3]:
df = pd.read_sql("CALL spGamesForAnalysis(1)",con=engine)

In [4]:
df.head()

,PivotedScoreID,GameID,EndNum,EndResult,Hammer,Score,TeamID,EventID,EventName,Year,EndMonth,FinalScore,EndSituation,OpponentTeamID,OpponentFinalScore,Win
0,76622,3496,1,4,1,0,122752,5419,BC Mens Curling Championship,2019,2,9,0,132160,2,1
1,76624,3496,2,-2,0,4,122752,5419,BC Mens Curling Championship,2019,2,9,4,132160,2,1
2,76626,3496,3,2,1,4,122752,5419,BC Mens Curling Championship,2019,2,9,2,132160,2,1
3,76628,3496,4,2,0,6,122752,5419,BC Mens Curling Championship,2019,2,9,4,132160,2,1
4,76630,3496,5,1,0,8,122752,5419,BC Mens Curling Championship,2019,2,9,6,132160,2,1

In [5]:
## basic info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47906 entries, 0 to 47905
Data columns (total 16 columns):
PivotedScoreID        47906 non-null int64
GameID                47906 non-null int64
EndNum                47906 non-null int64
EndResult             47906 non-null int64
Hammer                47906 non-null int64
Score                 47906 non-null int64
TeamID                47906 non-null int64
EventID               47906 non-null int64
EventName             47906 non-null object
Year                  47906 non-null int64
EndMonth              47906 non-null int64
FinalScore            47906 non-null int64
EndSituation          47906 non-null int64
OpponentTeamID        47906 non-null int64
OpponentFinalScore    47906 non-null int64
Win                   47906 non-null int64
dtypes: int64(15), object(1)
memory usage: 5.7+ MB

In [6]:
## basic stats

df.describe()

,PivotedScoreID,GameID,EndNum,EndResult,Hammer,Score,TeamID,EventID,Year,EndMonth,FinalScore,EndSituation,OpponentTeamID,OpponentFinalScore,Win
count,4.790600e+04,47906.000000,47906.000000,47906.0000,47906.000000,47906.000000,47906.000000,47906.000000,47906.000000,47906.000000,47906.000000,47906.000000,47906.000000,47906.000000,47906.000000
mean,7.535236e+05,48042.893291,4.965265,0.0000,0.500000,2.658728,138756.963199,6017.227571,2019.409677,3.848662,6.293930,0.000000,138756.963199,6.293930,0.500000
std,4.182638e+05,27769.080862,2.691120,1.7339,0.500005,2.366624,7180.165496,469.215143,0.732642,4.004102,2.643119,2.427661,7180.165496,2.643119,0.500005
min,3.576000e+03,109.000000,1.000000,-8.0000,0.000000,0.000000,122752.000000,4956.000000,2018.000000,1.000000,0.000000,-23.000000,122752.000000,0.000000,0.000000
25%,3.932842e+05,23992.000000,3.000000,-1.0000,0.000000,1.000000,132113.000000,5671.000000,2019.000000,1.000000,4.000000,-1.000000,132113.000000,4.000000,0.000000
50%,7.528085e+05,47939.000000,5.000000,0.0000,0.500000,2.000000,140957.000000,6202.000000,2019.000000,2.000000,6.000000,0.000000,140957.000000,6.000000,0.500000
75%,1.112609e+06,71895.000000,7.000000,1.0000,1.000000,4.000000,144684.000000,6373.000000,2020.000000,3.000000,8.000000,1.000000,144684.000000,8.000000,1.000000
max,1.480427e+06,96449.000000,12.000000,8.0000,1.000000,24.000000,151575.000000,6855.000000,2021.000000,12.000000,24.000000,23.000000,151575.000000,24.000000,1.000000

In [9]:
## win pcts 

win_pcts = df.groupby(['EndNum','EndSituation','Hammer'])[['Win']].aggregate(['mean','count'])

In [10]:
win_pcts.loc(axis=0)[1:3]

                                 Win
                                mean count
EndNum EndSituation Hammer
1       0           0       0.380505  2770
                    1       0.619495  2770
2      -7           1       0.000000     2
       -6           1       0.000000     4
       -5           1       0.000000    19
       -4           1       0.067797    59
       -3           1       0.119266   218
       -2           1       0.253353   671
       -1           1       0.465870  1172
        0           0       0.337600   625
                    1       0.662400   625
        1           0       0.534130  1172
        2           0       0.746647   671
        3           0       0.880734   218
        4           0       0.932203    59
        5           0       1.000000    19
        6           0       1.000000     4
        7           0       1.000000     2
3      -10          1       0.000000     1
       -9           1       0.000000     1
       -8           1       0.000000     5
       -7           1       0.000000    10
       -6           1       0.050000    20
       -5           0       0.000000     3
                    1       0.020000    50
       -4           0       0.000000     8
                    1       0.090164   122
       -3           0       0.000000    19
                    1       0.134921   252
       -2           0       0.082474    97
                    1       0.253906   512
       -1           0       0.225352   284
                    1       0.435591   753
        0           0       0.363349   633
                    1       0.636651   633
        1           0       0.564409   753
                    1       0.774648   284
        2           0       0.746094   512
                    1       0.917526    97
        3           0       0.865079   252
                    1       1.000000    19
        4           0       0.909836   122
                    1       1.000000     8
        5           0       0.980000    50
                    1       1.000000     3
        6           0       0.950000    20
        7           0       1.000000    10
        8           0       1.000000     5
        9           0       1.000000     1
        10          0       1.000000     1